.score {
    display         : inline-grid;
    place-content   : center;
    background-color: #3f3932;
    font-size       : 0.34rem;
    font-weight     : 500;
    border-radius: 0.08rem;

    .key {
        font-size: 0.24rem;
    }
}