%ranking {
    background-color: rgba($color: #696662, $alpha: 0.2);
    border-radius: 0.08rem;
}

.rank-list {
    @extend %ranking;
    max-height: calc(100vh - 3rem);
    max-height: calc(100vh - 3rem - env(safe-area-inset-bottom));
    max-height: calc(100vh - 3rem - constant(safe-area-inset-bottom));
    overflow-y: auto;

    /* 去掉滚动条 */
    &::-webkit-scrollbar{
        display:none;
    }

    &.short {
        max-height: calc(100vh - 7rem);
        max-height: calc(100vh - 7rem - env(safe-area-inset-bottom));
        max-height: calc(100vh - 7rem - constant(safe-area-inset-bottom));
    }
}

.no-data {
    @extend %ranking;
    padding: 0.3rem 0;
    font-size: 0.28rem;
    text-align: center;
    padding: 0.3rem 0;
    font-size: 0.28rem;
    line-height: 0.36rem;
    text-align: center;
}

.rank-item {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    font-size: 0.28rem;
    word-wrap: break-word;

    .position,
    .name,
    .score {
        box-sizing: border-box;
        padding: 0 0.1rem;
    }

    .position {
        width: 1rem;
        padding-left: 0.2rem;
        font-size: 0.3rem;
        font-style: italic;

        &.first {
            color: #fa2306;
        }
        &.second {
            color: #f89811;
        }
        &.third {
            color: #cea20a;
        }
    }

    .name,
    .score {
        width: 2.95rem;
    }
}