.modal {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdf9ef;
    text-align: center;
    opacity: 0.5;
    transform: translateY(60%);
    // transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    .modal-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .title {
        color: #c4ae9a;
        font-size: 0.8rem;
        font-style:oblique;
        -webkit-text-stroke: 0.06rem #3f3932;
        animation: showBigger 1s 0.1s;

        &.exceed {
            color: #f71d04;
            -webkit-text-stroke: 0.05rem #786e61;
        }

        & + .p-score {
            margin-top: 0.6rem;
        }
    }

    .p-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #757575;
        font-size: 0.34rem;
        line-height: 0.52rem;

        .num {
            font-weight: 600;
            &.cur {
                margin-top: 0.2rem;
                font-size: 0.8rem;
                line-height: 0.9rem;
            }
            &.best {
                color: #f71d04;
            }
        }

        &.best {
            font-size: 0.3rem;
        }

        & + .p-score {
            margin-top: 0.5rem;
        }
    }

    .btn {
        margin-top: 0.6rem;
        // padding: 0 0.6rem;
        width: 3.1rem;
        height: 1rem;
        line-height: 1rem;
        color: #fff;
        font-size: 0.32rem;
        letter-spacing: 0.02rem;
        border-radius: 0.08rem;
    }

    .btn-restart {
        background-color: #f89e62;
    }

    .btn-home {
        background-color: #c4ae9a;
    }
}

@keyframes showBigger {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}
